
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="married" id="respuesta">
            <div>
                <p>Regimen de matrimonio a fecha de fallecimiento</p>
                <input type="radio" id="communityP" name="married" value="Gananciales">
                <label for="married">Gananciales</label><br>
                <input type="radio" id="separationP" name="married" value="Separacion de Bienes">
                <label for="partner">Separacion de Bienes</label>
                <div>
                    <label for="spouseName">Nombre y Apellido:</label>
                    <input type="text" id="spouseName" name="married">
                    <label for="spouseName">Fecha de Nacimiento:</label>
                    <input type="text" id="spouse_date_birth" name="married">
                </div>
            </div>
        </div>
    </body>
</html>
