
    <div><p>Parentesco con Fallecido</p>
        <input type="radio" id="spouse" name="kinship" value="Conyuge">
        <label for="spouse">Cónyuge</label><br>

        <input type="radio" id="law-partner" name="kinship" value="Pareja de Hecho">
        <label for="law-partner">Pareja de hecho</label><br>
         
        <input type="radio" id="son" name="kinship" value="Hijo">
        <label for="son">Hijo</label>

        <input type="radio" id="daughter" name="kinship" value="Hija">
        <label for="daughter">Hija</label><br>
   		
        <input type="radio" id="grandson" name="kinship" value="Nieto">
        <label for="grandson">Nieto</label>

        <input type="radio" id="granddaughter" name="kinship" value="Nieta">
        <label for="granddaughter">Nieta</label><br>

        <input type="radio" id="father" name="kinship" value="Padre">
        <label for="father">Padre</label>

         <input type="radio" id="mother" name="kinship" value="Madre">
        <label for="mother">Madre</label><br>

        <input type="radio" id="grandpa" name="kinship" value="Abuelo">
        <label for="grandpa">Abuelo</label>

        <input type="radio" id="grandma" name="kinship" value="Abuela">
        <label for="grandma">Abuela</label><br>

        <input type="radio" id="brother" name="kinship" value="Hermano">
        <label for="brother">Hermano</label>

        <input type="radio" id="sister" name="kinship" value="Hermana">
        <label for="sister">Hermana</label><br>

        <input type="radio" id="nephew-consang" name="kinship" value="Sobrino por Cosanguineidad">
        <label for="nephew-consang">Sobrino por Cosanguineidad</label><br>

        <input type="radio" id="uncle-consang" name="kinship" value="Tio por Cosanguineidad">
        <label for="uncle-consang">Tio por Cosanguineidad</label><br>

        <input type="radio" id="cousin-consang" name="kinship" value="Primo por Cosanguineidad">
        <label for="cousin-consang">Primo por Cosanguineidad</label><br>

        <input type="text" id="other-kinship" name="kinship">
        <label for="other-kinship">Otras Parentescos. Indicar:</label><br>

        <input type="radio" id="no-kinship" name="kinship" value="Sin Parentesco">
        <label for="no-kinship">Sin Parentesco</label><br>
    </div>

    