
    <div>
        <p>Autonomo Individual</p>
        <label for="epigrafe">Epígrafe IAE:</label>
        <input type="text" id="epigrafe" name="epig">
        <label for="desc-epigrafe">Descripción epígrafe:</label>
        <input type="text" id="desc-epigrafe" name="desc_epig">
        <label for="trade-name">Nombre comercial:</label>
        <input type="text" id="trade-name" name="trade-n">
        <p>El Epígrafe se puede encontrar en la declaración de la renta y que si tiene varios que ponga el principal</p>      
    </div>
 